ul,
div,
main,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: .3em;
}

a:link,
a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  color: #4effbb;
}

ul {
  list-style: none;
}

main {
  display: flex;
  min-height: 60vh;
}

.list {
  position: relative;
  margin: auto;
}

.option {
  width: 250px;
  padding: 0 3em;
  height: 4em;
  line-height: 4em;
  z-index: 10;
}

.option:not(:last-of-type) {
  border-bottom: 1px solid #eed;
}

.option .label {
  display: inline;
}

.option .label,
.option .icon {
  vertical-align: middle;
}

.icon {
  height: 2em;
  width: auto;
  margin-right: 1em;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 4em;
  background-color: #4effbb;
  z-index: -1;
  opacity: 0;
  transition: all 150ms ease-out;
}

.list:hover .slider {
  opacity: 1;
}

.option:nth-child(2):hover ~ .slider {
  transform: translateY(100%);
}

.option:nth-child(3):hover ~ .slider {
  transform: translateY(200%);
}

.option:nth-child(4):hover ~ .slider {
  transform: translateY(300%);
}

.option:nth-child(5):hover ~ .slider {
  transform: translateY(400%);
}

.option:nth-child(6):hover ~ .slider {
  transform: translateY(500%);
}
