<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5 example-form">
<div class="container">
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
      <div class="example-container">
        <mat-form-field appearance="fill" class="width-50">
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="firstname">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-50 ml-2">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. prior@gmail.com" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile">
        </mat-form-field>
        <br>
        <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i>
          Signup
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</form>

<app-table [data]="mockData"></app-table>
